/* general */

body {
  font-family: monospace;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

a {
  color: #000;
  text-decoration: none;
}

strong {
  font-weight: bold;
}

/* nav */

nav {
  height: 5em;
  width: 100%;
  line-height: 3em;
  max-width: 1000px;
  padding: 1em 2em;
  background-color: #fff;
  box-sizing: border-box;
  position: fixed;
  z-index: 5;
  top: 0;
}

nav h1#title {
  box-sizing: border-box;
  font-size: 2em;
  position: relative;
  float: left;
  height: 100%;
}

nav h3#menu-toggle {
  height: 100%;
  float: right;
  position: relative;
  text-align: right;
  box-sizing: border-box;
  font-size: 1em;
  min-width: 75px;
}

nav ul {
  height: 100%;
  position: absolute;
  right: 0;
  padding-right: 2.5em;
}

nav ul > li {
  float: left;
  padding: 0 1em;
}

@media screen and (max-width: 600px) {
  nav > h1 {
    font-size: 1em;
  }
}

@media screen and (min-width: 775px) {
  nav h3 {
   font-size: 2em;
  }
}

@media screen and (max-width: 600px) {
  nav ul#menu {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.2s;
    top: 4em;
    padding: 0;
  }

  nav ul#menu.open {
    visibility: visible;
    opacity: 1;
    position: absolute;
    width: 100%;
    background-color: #fff;
  }

  nav ul#menu.open > li {
    float: none;
    background-color: #fff;
    padding: 0 2em 1em 2em;
  }

  nav ul#menu.open > li > a {
    display: inline-block;
    width: 100%;
  }
}

@media screen and (min-width: 601px) {
  nav h3#menu-toggle {
    display: none;
  }
}

/* main */

main {
  position: relative;
  margin-top: 5em;
  width: 100%;
}

div.content-wrapper {
  margin: 0 auto;
  width: 90%;
  padding-top: 0.25em;
}

/* images */

div.image-wrapper {
  margin: 3em auto;
  position: relative;
}

.image-wrapper img {
  z-index: 0;
  opacity: 1;
  transition: opacity 0.25s;
  width: 100%;
}

.image-wrapper img[data-src] {
  opacity: 0;
}

.placeholder {
  background-color: #999;
  width: 100%;
}

@media screen and (max-width: 400px) {
  .image-wrapper {
    width: 250px;
  }
  .vertical {
    min-height: 300px;
  }
  .horizontal {
    min-height: 150px;
  }
}

@media screen and (min-width: 401px) and (max-width: 600px) {
  .image-wrapper {
    width: 300px;
  }
  .vertical {
    min-height: 350px;
  }
  .horizontal {
    min-height: 200px;
  }
}

@media screen and (min-width: 601px) and (max-width: 1100px) {
  .image-wrapper {
    width: 500px;
  }
  .vertical {
    min-height: 600px;
  }
  .horizontal {
    min-height: 333.33px;
  }
}

@media screen and (min-width: 1101px) {
  .image-wrapper {
    width: 750px;
  }
  .vertical {
     min-height: 800ox;
  }
  .horizontal {
    min-height: 500px;
  }
}

/* index specific */
.image-wrapper.index-list-item .title-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  z-index: 2;
  height: 100%;
  width: 100%;
  position: absolute;
}

.image-wrapper.index-list-item .project-title {
  background-color: #fff;
  font-size: 3em;
  padding: 1em 0;
  width: 85%;
  text-transform: uppercase;
  text-align: center;
  display: block;
}

@media screen and (max-width: 600px) {
  .image-wrapper.index-list-item .project-title {
    margin-top: -30px;
    font-size: 2em;
  }
}

/* about  */

main#about p {
  font-size: 1.25em;
  margin-bottom: 1em;
}

main#about h3 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1em;
}

main#about ul {
  margin: 1em 0;
}

main#about ul > li {
  margin-bottom: 1em;
}

/* nested lists on the about page */
main#about ul ul {
  padding-left: 1em;
}
