/* general */

body {
  font-family: monospace;
  max-width: 1000px;
  margin: 0 auto;
}

a {
  color: #000;
  text-decoration: none;
}

strong {
  font-weight: bold;
}
/* nav */

nav {
  height: 5em;
  width: 100%;
  line-height: 3em;
  max-width: 1000px;
  padding: 1em 2em;
  background-color: #fff;
  box-sizing: border-box;
  position: fixed;
  z-index: 1;
  top: 0;
}

nav > h1 {
  box-sizing: border-box;
  padding-right: 1em;
  font-size: 2em;
  position: relative;
  width: 75%;
  float: left;
  height: 100%;
}

 nav > h3.about {
  box-sizing: border-box;
  padding-right: 1em;
  font-size: 1em;
  position: relative;
  float: left;
  width: 25%;
  text-align: right;
}

@media screen and (min-width: 775px) {
  nav > h3.about {
   font-size: 2em;
  }
}


/* main */

main {
  position: relative;
  margin-top: 5em;
  width: 100%;
}

div.content-wrapper {
  margin: 0 auto;
  width: 90%;
}

/* images */

div.image-wrapper {
  padding: 1em 0;
  margin: 0 auto 1em auto;
}

.image-wrapper img.portfolio-img {
  opacity: 1;
	transition: opacity 0.3s;
}

img.portfolio-img[data-src] {
  height:0px;
  width: 100%;
  opacity: 0;
}

div.placeholder {
  height: 400px;
  width: 100%;
  background-color: #999;
}

@media screen and (min-width: 300px) and (max-width: 500px) {
  .image-wrapper {
    width: 300px;
  }
  .image-wrapper img.portfolio-img {
    max-width: 300px;
  }
}

@media screen and (min-width: 600px) and (max-width: 800px) {
  .image-wrapper {
    width: 500px;
  }
  .image-wrapper img.portfolio-img {
    max-width: 500px;
  }
}

@media screen and (min-width: 801px) and (max-width: 1000px){
  .image-wrapper {
    width: 600px;
  }
  .image-wrapper img.portfolio-img {
    max-width: 600px;
    max-height: 650px;
  }
  div.placeholder {
    height: 500px;
  }
}

@media screen and (min-width: 1001px) {
  .image-wrapper {
    width: 800px;
  }
  .image-wrapper img.portfolio-img {
    max-width: 800px;
    max-height: 650px;
  }
  div.placeholder {
    height: 500px;
  }
}

/* about  */

main#about p {
  margin-bottom: 1em;
}

main#about h3 {
  margin-bottom: 1em;
  font-weight: bold;
  font-size: 1em;
}

main#about ul {
  margin-bottom: 1em;
}

main#about ul > li {
  margin-bottom: 1em;
}
