/* general */

body {
  font-family: monospace;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

a {
  color: #000;
  text-decoration: none;
}

strong {
  font-weight: bold;
}

/* nav */

nav {
  height: 5em;
  width: 100%;
  line-height: 3em;
  max-width: 1000px;
  padding: 1em 2em;
  background-color: #fff;
  box-sizing: border-box;
  position: fixed;
  z-index: 1;
  top: 0;
}

nav > h1 {
  box-sizing: border-box;
  padding-right: 1em;
  font-size: 2em;
  position: relative;
  width: 75%;
  float: left;
  height: 100%;
}

 nav > h3.about {
  box-sizing: border-box;
  padding-right: 1em;
  font-size: 1em;
  position: relative;
  float: left;
  width: 25%;
  text-align: right;
}

@media screen and (min-width: 775px) {
  nav > h3.about {
   font-size: 2em;
  }
}

/* main */

main {
  position: relative;
  margin-top: 5em;
  width: 100%;
}

div.content-wrapper {
  margin: 0 auto;
  width: 90%;
}

/* images */

div.image-wrapper {
  margin: 3em auto;
}

.image-wrapper img {
  opacity: 1;
  transition: opacity 0.25s;
  width: 100%;
}

.image-wrapper img[data-src] {
  opacity: 0;
}

.placeholder {
  background-color: #999;
  width: 100%;
}

@media screen and (max-width: 400px) {
  .image-wrapper {
    width: 250px;
  }
  .vertical {
    height: 375px;
  }
  .horizontal {
    height: 166.66px;
  }
}

@media screen and (min-width: 401px) and (max-width: 600px) {
  .image-wrapper {
    width: 300px;
  }
  .vertical {
    height: 450px;
  }
  .horizontal {
    height: 200px;
  }
}

@media screen and (min-width: 601px) and (max-width: 1100px) {
  .image-wrapper {
    width: 500px;
  }
  .vertical {
    height: 750px;
  }
  .horizontal {
    height: 333.33px;
  }
}

@media screen and (min-width: 1101px) {
  .image-wrapper {
    width: 750px;
  }
  .vertical {
     height: 1125px;
  }
  .horizontal {
    height: 500px;
  }
}

/* about  */

main#about p {
  margin-bottom: 1em;
}

main#about h3 {
  margin-bottom: 1em;
  font-weight: bold;
  font-size: 1em;
}

main#about ul {
  margin-bottom: 1em;
}

main#about ul > li {
  margin-bottom: 1em;
}
